.style{
    border: solid black;
    border-width: 1px;
    width: 500px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    float: left;
}

/* .new{
    border: solid black;
    border-width: 1px;
    display: flex;
    flex-direction: column;
} */

.button{
    padding: 10px;
}

li{
    list-style-type: none;
}